.vs/nppBackup

# Build results

[Dd]ebug/
[Rr]elease/
[bB]uild/
[Bb]in/
[Oo]bj/
[tT]mp/
[lL]ogs/
[pP]ackages/
[pP]ublish/


.DS_Store/
.settings/
.builds
.project
.metadata
.vs/
.vscode/

*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
*.pidb
*.log
*.scc
*.err
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.psess
*.vsp
*.vspx
*.gpState
*.dotCover
*.Cache
*.lnk
*.pfx
*.dbmdl
*.publishsettings
*.suo
*.user
*.sln.docstates
*.tmp
*.bak
*.swp
*~.nib

_UpgradeReport_Files/
ipch/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm
*.[Pp]ublish.xml

ArchiveBuilder/Debug/
AppPackages/
sql/
x64/
ClientBin/
[Ss]tyle[Cc]op.*
local.properties
~$*
*~

# Windows Garbage
[tT]humbs.db
ehthumbs.db
[dD]esktop.ini
$RECYCLE.BIN/

# Doom Builder 2 Backups
*.backup1
*.backup2

# Notepad++ Backups
*/nppBackup/
*.db
.vs/Doom-RPG/v17/Preview/Browse.VC.db
